.san{

    border: solid 1px black;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
   
}




.rey{

   
   
   
   
   
   
    text-align: center;







}